body {
    font-family: 'GothamPro',sans-serif;;
    margin: 0;
    padding: 0;
}

/* Стилі для хедера */
.site-header {
    background-color: darkolivegreen; /* Колір фону хедера */
    color: #fff; /* Колір тексту в хедері */
    padding: 20px; /* Відступи внутрішнього вмісту хедера */
    display: flex;
    justify-content: space-between; /* Розміщення логотипу та меню по краях хедера */
    align-items: center; /* Вирівнювання по вертикалі по центру */
}
.logo {
    height: 72px;
    flex: 0 0 72px;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    flex: 1; /* Розширення навігаційного меню на всю доступну ширину */
    display: flex;
    justify-content: center; /* Вирівнювання по центру по горизонталі */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 30px; /* Відступи між пунктами меню */
}

nav a {
    text-decoration: none; /* Видаляємо підкреслення з посилань */
    color: #fff; /* Колір тексту посилань */
}

.site-footer{
    display: flex;
    background-color: darkblue;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    align-items: center;
}
 .contact-information-block{
    flex: 1; /* Розширення навігаційного меню на всю доступну ширину */
    display: flex;
    justify-content: center; 
}
.contact-information-block ul{
    list-style: none;
    padding: 0;
    display: flex;
}
.contact-information-block li{
    margin-right: 30px; 
}
.contact-information-block a{
    text-decoration: none; /* Видаляємо підкреслення з посилань */
    color: #fff
}



/* div{
    display: block;
} */
/* Стиль для сторінки Головна  */
.site-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-articles{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    border: 1px solid #424242;
    margin: 10px;
    /* box-sizing: border-box; */
    
}

.section-articles .articles-block{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
 .section-articles .articles-block .article{
    flex: 1 0 calc(50% - 10px);
    
}

.section-articles .article-header{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 1.8rem; 
    font-weight: 300;
}
.section-articles .article-header .article-title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.0em;
    font-weight: 600;
}
.article-title a{
    text-decoration: none;
    color: black;
}

.site-page .carousel-section{
    display: flex;
    border: 1px solid #424242;
    width: 900px;
    height: 300px;
    margin-top: 30px;
    position: relative;
    margin-bottom: 30px;
}
.carousel-section .galery{
    display: flex;
    overflow: hidden;
    border: 1px solid #424242;
    align-items: center;
}
 .content-slider-block{
    /* width: 33.33%; */
    /* flex: 0 0 33.33%; */
    display: inline-block;
    
}

.galery .image-block img{
    max-width: 100%;
    height: auto;
}
.galery .text-block{
    text-align: center;
}
.carousel-section .slick-prev, .carousel-section .slick-next{
    background-color: #3498db;
    color: #fff;
    border-radius: 7px;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    margin: 0 10px;
    width: fit-content;
    height: fit-content;
    
}
.slick-prev:hover, .slick-next:hover{
    background-color: #1f3164;
    
}
.slick-next{
    
}
.slick-prev{
    
}

/* Стиль для сторінки База знань */
.knowledge-base{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.knowledge-base .knowledge-base-content-block{
    background-color: #f0f0f0;
    padding: 5px 20px 5px 20px;
}
.knowledge-base .sidebar{
    height: auto;
    overflow: visible;
    margin-bottom: 40px;
}

.knowledge-base .sidebar .inner-menu{
    margin-top: 0;
}
.sidebar .inner-menu li{
    display: block;
}
.sidebar .inner-menu>li{
    margin-top: 20px;
}

.knowledge-base .sidebar .inner-menu > li > ul{
    column-count: 5;
    column-gap: 10px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.knowledge-base .sidebar .inner-menu>li>ul>li>a{
    display: inline-block;
    background-color: #fec422;
    border-radius: 5px;
    padding: 4px 12px;
    font-size: 13px;
    color: black;

}
.knowledge-base .sidebar .inner-menu>li>a{
    pointer-events: none;
    display: inline-block;
    background-color:blue;
    border-radius: 5px;
    padding: 10px 12px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.knowledge-base .sidebar .inner-menu>li>ul>li>ul{
    margin-top: 15px;
    
}
.knowledge-base .sidebar .inner-menu>li>ul>li+li{
    margin-top: 15px;
}
.sidebar .inner-menu li a{
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #9f9f9f;
    pointer-events: auto;
}
.knowledge-base .sidebar .inner-menu>li>ul>li>ul>li+li{
    margin-top: 10px;
}

a{
    text-decoration: none;
}
.knowledge-base .sidebar .inner-menu>li>ul>li>ul>li>a:hover{
    color: #1f3164;
    text-decoration: underline;
    
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    max-width: 600px;
    position: relative;
    color: #424242;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}
.site-page-post{
    display: block;
    border: 1px solid #888;
    margin: 0px 50px 0px 50px;
    color:red;
}
.content-padding{
    padding-left: 15px;
}
.head-of-article{
    text-align: center;
}
.image-post-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-post-content img{
    width: 300px;
    
}

